%html
  %head
    %meta{ charset: 'UTF-8'}
    %title= rootpage.title
    %link{ rel: 'stylesheet', href: '/js/jqtouch.css' }
    %link{ rel: 'stylesheet', href: '/js/app.css' }
    %link{ rel: 'stylesheet', href: '/themes/jqt/theme.css' }
    %script{ src: '/js/jquery-1.4.2.min.js' }
    %script{ src: '/js/jqtouch.js' }
    %script{ src: '/js/app.js' }
  %body
    #jqt
      #home.current
        .toolbar
          %h1= 'Touchium'
        %ul.metal
          %li.arrow
            %a{href: '#r'}= 'Start'
      #r
        .toolbar
          %h1= 'R'
          %a{href: '#', class:'back'}= 'Back'
        %ul.metal
          %li.arrow
            %a{href: '#r2'}= 'R2'
          %li.arrow
            %a{href: '#r2'}= 'R2'
          %li.arrow
            %a{href: '#r2'}= 'R2'
          %li.arrow
            %a{href: '#r2'}= 'R2'
      #r2
        .toolbar
          %h1= 'R2'
          %a{href: '#', class:'back'}= 'Back'
        %ul.metal
          %li.arrow
            %a{href: '#r2'}= 'R3'
      #about
        %p This page WebApp is powered by Touchium. To learn more go to 
        %a{href: 'http://touchium.com'}= 'http://touchium.com'
        %br 
        %br 
        %p If you have any comments about this particular WebApp let us know at:
        %a{href: 'mailto:info@touchium.com'}= 'info@touchium.com' 
        %br 
        %br
        %a{href: '#', class:'grayButton goback'}= 'Close'          
      #otherpages